/* GENERAL */

/* couleurs : jaune = #fde800, vert = #087862, bleu clair = #0c63a3, bleu foncé = #06407b */

@font-face {
    font-family: 'PoliceFilm';
    src: url('theboldfont.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #6c1110;
	width: 100%;
}

/* HEADER */

header {
	background-color: #06407b;
	color: white;
	padding-top: 5vh;
	height: 4vh;
	text-align: center;
}

header label {
	font-family: 'PoliceFilm';
	position: absolute;
	margin: 0;
	left: 5vw;
	top: 2vh;
	font-size: 3vw;
}

header label > a {
	color: white;
	text-decoration: none;
}

header > a {
	font-family: 'PoliceFilm';
	padding-right: 20px;
	font-size: 2vw;
	color: white;
}

header > a:hover {
	color: white;
}

header > a:visited {
	color: white;
}

header > button {
	font-family: 'PoliceFilm';
	font-size: 1vw;
	background-color: white;
	color: #06407b;
	padding-top: 1vh;
	padding-left: 1vh;
	padding-right: 1vh;
	border-radius: 15px;
}

/* CORPS */

#titreIndex {
	background-color: #06407b;
	font-size: 8vw;
	color: white;
}

h1, section {
	width: 70vw;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}

h1{
	/*color: #fde800;*/
	font-family: 'PoliceFilm';
	font-size: 4vw;
	padding-top: 5vh;
	padding-bottom: 2vh;
	text-align: center;
}

h2 {
	font-family: 'PoliceFilm';
	margin-left: 2vw;
	padding-bottom: 3vh;
	padding-top: 8vh;
	font-size: 2vw;
}

h3 {
	margin-left: 2vw;
	font-family: 'PoliceFilm';
	padding-bottom: 3vh;
	padding-top: 8vh;
	font-size: 1.8vw;
}

.info_personne {
	height: 100%;
}

.info_personne img {
	margin-top: 20px;
	margin-bottom: 20px;
}

.info_personne p {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 55vw;
	font-size: 20px;
	margin-left: 7vh;
}

.list_act, .info_rea, .list_img_film {
	display: flex;
	flex-direction: column;
}

label {
	font-family: sans-serif;
	margin-bottom: 3vh;
}

br {
	content: "";
 	display: block;
 	margin-bottom: 10px;
}

/* TABLE */

table {
	margin-bottom: 20px;
	margin-left: 7vh;
	padding-top: 5vh;
}

table td {
	padding-right: 5vw;
}

table a {
	color: black;
	text-decoration: none;
	font-size: 2vw;
}

table a:visited {
	color: black;
	text-decoration: none;
}

table a:hover {
	color: black;
	text-decoration: underline;
}

/* PUCES */

ol {
	list-style-type: none;
	font-family: sans-serif;
}

section > ol {
	margin-left: 4vw;
}

section > ol > li {
	margin-top: 2vh;
}

ol li ol {
	padding-left: 30px;
}

li{
	width: 55vw;
	font-size: 20px;
}

/* IMAGES */

.img_horizontale {
	width: 40vw;
}

.img_verticale {
	width: 20vw;
}

.list_act img, .info_rea img, .img_pers {
	width: 13vw;
}

.list_act a, .info_rea a {
	color: black;
	text-decoration: none;
	font-size: 20px;
}

.list_act a label, .info_rea a label {
	margin-left: 20px;
}

.list_act a > *, .info_rea a > * {
	vertical-align: middle;
}

.info_rea a:visited {
	color: black;
	text-decoration: none;
}

.info_rea a:hover {
	text-decoration: underline;
}

.list_act a:visited {
	color: black;
	text-decoration: none;
}

.list_act a:hover {
	text-decoration: underline;
}

.list_act {
	padding-bottom: 5vh
}

.list_act a {
	margin-top: 20px;
}

img {
	margin-left: 7vh;
}

.list_img_film label {
	margin-left: 7vh;
	margin-top: 1vh;
	font-size: 20px;
}

/* MENU ACTEUR

#menu_acteur img, #menu_acteur label {
	margin-left: 2vw;
	width: 7vw;
}

#menu_acteur a {
	color: black;
	text-decoration: none;
}

#menu_acteur a:visited {
	color: black;
	text-decoration: none;
}

#menu_acteur a:hover {
	text-decoration: underline;
} */

/* FAQ */

#faq > dt {
  font-size: 2vh;
}

#faq > dd {
	margin-bottom: 2vh;
	/*display: none;*/
	color: white;
}

#faq {
    margin-top: 20px;
	margin-bottom: 20px;
	width: 55vw;
	margin-left: 7vh;
}

/* FOOTER */

footer {
	background-color: grey;
	font-family: 'PoliceFilm';
	padding-top: 5px;
}

#fleche {
	width: 4%;
	position: fixed;
	top: 85%;
	right: 1rem;
}
